<a href="https://colab.research.google.com/github/sridharpilli/python-practice/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter a number :"))
b=int(input("enter a number"))
print(a+b)
print(a-b)
print(a*b)
print(a**4)

enter a number :7
enter a number4
11
3
28
2401

In [ ]:
print("helo world")

helo world

In [ ]:
#bodmas
a=10+5*(2**3)-6/2
print(a)

47.0

In [ ]:
#string concatenation
a="sridhar"+ "pilli"
print(a)

sridharpilli

In [ ]:
#string repetition
a="sridhar"
print(a*10)

sridharsridharsridharsridharsridharsridharsridharsridharsridharsridhar

In [ ]:
#length of string
a="sridhar"
print(len(a))

7

In [ ]:
#type conversion
a=3.33333
print(type(str(a)))

<class 'str'>

In [ ]:
#string indexing
my_name=("sridhar")
print(my_name[0])
print(my_name[1])
print(my_name[2])
print(my_name[3])
print(my_name[4])
print(my_name[5])
print(my_name[6])

s
r
i
d
h
a
r

In [ ]:
#relational operater
a=2
b=4
print(a==b)
print(a<=b)

False
True